@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

/*              GENERAL & RESETS              */

:root {
  --color-light: #ffffff;
  --color-primary: #f85521;
  --color-gray-light: #f8f8f8;
  --color-gray: #cfcfcf;
  --color-gray-dark: #5f5f5f;
  --color-dark: #000000;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: "Inter", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
}

/*              UTILITIES              */

/* Font */

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

/* Position */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* Text */

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.7rem;
  line-height: 2rem;
}

.text-xxl {
  font-size: 4.5rem;
  line-height: 1;
}

.text-primary {
  color: var(--color-primary);
}

.text-light {
  color: var(--color-light);
}

.text-grayLight {
  color: var(--color-gray-light);
}

.text-gray {
  color: var(--color-gray);
}

.text-grayDark {
  color: var(--color-gray-dark);
}

.text-center {
  text-align: center;
}

.text-dark {
  color: var(--color-dark);
}

/* Padding */

.py-sm {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-md {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-lg {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-xl {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-uxxl {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.px-sm {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-md {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-lg {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-xl {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-xxl {
  padding-left: 3rem;
  padding-right: 3rem;
}

.pt-lg {
  padding-top: 2rem;
}

/* Margin */

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mt-xl {
  margin-top: 7rem;
}

/* Width */

.w-full {
  width: 100%;
}

.max-w-screen-xl {
  max-width: 1280px;
}

.w-md {
  width: 1.5rem;
}

.w-lg {
  width: 2rem;
}

/* Height */

.h-full {
  height: 100%;
}

.h-md {
  height: 1.5rem;
}

.h-lg {
  height: 2rem;
}

.min-h-screen {
  min-height: 100vh;
}

/* Gap */

.gap-md {
  gap: 1rem;
}

.gap-lg {
  gap: 2rem;
}

.gap-xl {
  gap: 3rem;
}

/* Background */

.bg-light {
  background-color: var(--color-light);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-dark {
  background-color: var(--color-dark);
}

.bg-gray {
  background-color: var(--color-gray);
}

.bg-grayLight {
  background-color: var(--color-gray-light);
}

.bg-grayDark {
  background-color: var(--color-gray-dark);
}

/* Border */

.rounded-full {
  border-radius: 9999px;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-l-lg {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.rounded-r-lg {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.border-2 {
  border: 2px solid;
}

.border-primary {
  border-color: var(--color-primary);
}

/* Display */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

/* Align */

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

/* Shadow */

.shadow-lg {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Stroke */

.stroke-dark {
  stroke: var(--color-dark);
}

/* Others */

/* Custom */

.selected-li {
  position: relative;
}

.selected-li::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--color-primary);
  width: 100%;
  bottom: -0.25rem;
  left: 0;
}

.car-bg {
  width: 800px;
  position: relative;
  z-index: 10;
}

.car-content::after {
  content: "";
  background-color: var(--color-primary);
  height: 450px;
  width: 450px;
  position: absolute;
  top: 20%;
  right: 10%;
  border-radius: 9999px;
}

.us-bg {
  width: 700px;
  height: 300px;
  margin-bottom: -1.2rem;
}
