@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

/*              GENERAL & RESETS              */

:root {
  --color-light: #ffffff;
  --color-primary: #f85521;
  --color-gray-light: #f8f8f8;
  --color-gray: #cfcfcf;
  --color-gray-dark: #5f5f5f;
  --color-dark: #000000;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: "Inter", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex-container-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.auth-container {
  max-width: 25%;
}

/*Divisão título e texto */
.relative-container {
  position: relative;
}

.space-top {
  margin-top: 7.5rem;
}

.profile-icon {
  width: 1.75rem;
}

/*BUTTONS NAVBAR*/

.button {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-weight: 500;
}

.button-gray {
  background-color: var(--color-gray-dark);
  color: var(--color-light);
}

.button-gray:hover {
  background-color: var(--color-primary);
}

.button-primary-outline {
  background-color: transparent;
  color: var(--color-primary);
  border: solid 2px var(--color-primary);
}

.button-primary-outline:hover {
  background-color: #ffffffa0;
}

.selected-li {
  position: relative;
}

.selected-li::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--color-primary);
  width: 100%;
  bottom: -0.25rem;
  left: 0;
}

/*Section Main*/
.text-primary-header {
  font-size: 4rem;
  line-height: 3.75rem;
}

.text-primary-paragraph {
  font-size: 1.5rem;
  color: var(--color-gray-dark);
}

.background-car {
  margin-top: 20rem;
  height: 300px;
  width: 800px;
  position: absolute;
  right: 4.5rem;
  z-index: 10;
}

.main-content::after {
  content: "";
  height: 561px;
  width: 400px;
  background-color: var(--color-primary);
  position: absolute;
  border-radius: 2.5rem 2.5rem 0rem 0rem;
  right: 4.3rem;
  top: 0;
}

.download-card {
  background-color: var(--color-light);
  color: var(--color-dark);
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  gap: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*BUTÕES LOJAS DOWNLOAD*/
.logo {
  width: 1.75rem;
}

.social-container {
  gap: 1.5rem;
}

.download-text {
  font-weight: bold;
  font-size: 0.75rem;
  margin: 0;
}

.play-text {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0;
}

/*BUTÕES TIPOS DE VEICULOS*/
.position-buttons {
  margin: 1.5rem;
}

.button-square {
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 1rem;
  margin-right: 1rem;
}

.button-car {
  background-color: var(--color-primary);
  color: var(--color-light);
  border: solid 2px var(--color-primary);
}

.button-other {
  background-color: var(--color-light);
  color: var(--color-gray-dark);
  border: solid 2px var(--color-primary);
}

.search-container {
  padding: o.5rem 1rem;
  margin: 1.5rem;
  background-color: var(--color-light);
}

.procura {
  background-color: var(--color-primary);
}

/*LOGIN*/

.car-login {
  height: 1200px;
  width: 2000px;
  margin-top: -7rem;
}

input[type="text"],
input[type="password"] {
  border: 2.5px solid;
  border-color: var(--color-light);
  height: 26px;
  background-color: var(--color-light);
  border-radius: 1rem;
}

input[type="submit"] {
  height: 34px;
  border-radius: 1rem;
}

/*SEGURO*/

.main-content-seg::after {
  content: "";
  height: 500px;
  width: 2px;
  background-color: var(--color-primary);
  position: absolute;
  right: 50rem;
  top: -2rem;
}

.seguro-square::after {
  content: "";
  height: 100px;
  width: 150px;
  outline-color: var(--color-primary);
  position: absolute;
  top: -2rem;
}

/*QUEMSOMOS*/

.text-secundary {
  font-size: 1.3rem;
  color: var(--color-gray-dark);
  margin-bottom: -1rem;
}

.img-fund {
  width: 730px;
  height: 360px;
  margin-bottom: -4px;
}

.aboutus1 {
  background-color: var(--color-primary);
  color: var(--color-dark);
  width: 1400px;
  height: 200px;
  border-radius: 0.75rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.aboutus2 {
  background-color: var(--color-gray);
  color: var(--color-dark);
  width: 1400px;
  height: 200px;
  border-radius: 0.75rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.text-aboutus1 {
  margin-right: 2rem;
}

.text-aboutus2 {
  margin-left: 2rem;
}

/*SEGUROS*/
.seguros1 {
  background-color: var(--color-light);
  border: 2.5px solid;
  border-color: var(--color-primary);
  color: var(--color-gray-dark);
  width: 400px;
  height: 200px;
  border-radius: 0.75rem;
  margin-top: 3rem;
  margin-left: 4.95rem;
  margin-right: auto;
  display: inline-block;
}


/**/

.input-component {
  align-items: start;
}

.input-component>input {
  border-radius: 0.5rem;
}

.sign-button {
  width: 100%;
  border-radius: 0.5rem;
  border: 0;
}

.sign-button:hover {
  background-color: var(--color-gray);
}

.fill-height {
  height: 100vh;
  min-height: 100vh;
}

/*              UTILITIES              */

/* Font */

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

/* Position */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* Text */

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-xxl {
  font-size: 4.5rem;
  line-height: 1;
}

.text-light {
  color: var(--color-light);
}

.text-grayLight {
  color: var(--color-gray-dark);
}

.text-grayDark {
  color: var(--color-gray-light);
}

.text-center {
  text-align: center;
}

.text-dark {
  color: var(--color-dark);
}

/* Padding */

.py-sm {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-lg {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-xxl {
  padding-left: 3rem;
  padding-right: 3rem;
}

/* Margin */

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

/* Width */

.w-full {
  width: 100%;
}

.max-w-screen-xl {
  max-width: 1536px;
}

/* Height */

.h-full {
  height: 100%;
}

.h-lg {
  height: 2rem;
}

.min-h-screen {
  min-height: 100vh;
}

/* Gap */

.gap-md {
  gap: 1rem;
}

.gap-lg {
  gap: 2rem;
}

.gap-xl {
  gap: 3rem;
}

/* Background */

.bg-primary {
  background-color: var(--color-primary);
}

.bg-dark {
  background-color: var(--color-dark);
}

.bg-gray {
  background-color: var(--color-gray);
}

.bg-grayLight {
  background-color: var(--color-gray-light);
}

.bg-grayDark {
  background-color: var(--color-gray-dark);
}

/* Border */

.rounded-full {
  border-radius: 9999px;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

/* Display */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

/* Align */

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

/* Shadow */

.shadow-lg {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}